.line-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-wrapper {
    position: relative;
}
.line {
    position: relative;
    width: 20px;
    height: 500px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.segment {
    position: absolute;
    width: 100%;
}

.location {
    position: absolute;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
}